live-build-config/cache/
live-build-config/chroot/
live-build-config/binary/
live-build-config/.build/
*.iso
*.o
/pawos-refugio
/pawos.db

archivos_pawos/
reporte_actual.txt

/pawos-vacunas-check
/refugio_swap.bin
alertas_vacunas.log
*.log
donantes.checksum

/pawos-monitoreo

live-build-config/chroot
live-build-config/source
live-build-config/config/
live-build-config/*.files
live-build-config/*.contents
live-build-config/*.packages
live-build-config/*.modified_timestamps
live-build-config/wget-log*
live-build-config/pawos.transfer

live-build-config/chroot.packages*
/pawos-refugio-gui
*.bak
*.o
*.bak*
pawos-refugio-gui-producto
*.deb
deb-build/
